.component_column__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component_column__form_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto 50px auto;
  padding: 20px;
  width: 40%;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  user-select: none;
}

.component_column__form_title:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.component_column__form_title h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

.component_column__form_title + button {
  position: fixed;
  margin-right: 55%;
  border: 2px solid lightgray;
  border-radius: 30px;
  width: 80px;
  height: 50px;
  top: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.component_column__form_title + button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
}

.component_column__form_title + button:active {
  transform: scale(0.9);
}

.component_column__form_title input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  height: 25px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}

.component_column__form_title input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.component_column__form_title input::placeholder {
  text-align: center;
}

.component_column__form_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgray;
  height: 100px;
}

.component_column__form_img label {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.component_column__form_img input {
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
}

.component_column__form_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.component_column__form_text textarea {
  resize: none;
  width: 40%;
  height: 400px;
  padding: 16px;
  border: 1px solid lightgray;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 15px;
  outline: none;
}

.component_column__form_text textarea:focus {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.component_column__form_text button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgray;
  transition: transform 0.4s linear;
  margin-bottom: 20px;
}

.component_column__form_text button:hover {
  border: 2.4px solid lightgray;
}

.component_column__form_text button:active {
  transform: scale(0.9);
}

.component_column__btn_sm {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

@keyframes DeleteAnimation {
  0% {
    opacity: 0;
    visibility: unset;
  }
  100% {
    opacity: 1;
    visibility: unset;
  }
}

.modify_delete {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  animation: DeleteAnimation 0.3s linear forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.modify_delete__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 20%;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0.75;
  transform: translateY(180px);
  animation: appearBtnAnimation 0.2s linear forwards;
}

.modify_delete__main h1 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 45px;
  user-select: none;
}

.modify_delete__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.modify_delete__btn button {
  width: 40%;
  height: 35px;
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.modify_delete__btn button:hover,
.modify_delete__btn button:active {
  background-color: initial;
  background-position: 0 0;
}

.modify_delete__btn button:active {
  opacity: 0.5;
}
