button {
  font-size: 1rem;
  background-color: white;
  user-select: none;
}

.home_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 50px auto;
  padding: 20px;
  width: 40%;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  user-select: none;
}

.home_header:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home_header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: all 0.6s ease-in-out;
}

.home_header:hover .home_header__title {
  transform: translate3d(0, -8.2px, 0);
}

.home_header__title_main {
  font-size: 32px;
  margin-bottom: 20px;
}

.home_header__title_sub {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 250px;
}

.home_header__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home_header__btn button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  border-color: rgba(0, 0, 0, 0.48);
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  width: 140px;
  line-height: 15px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: transform 235ms ease-in-out, background-color 0.1s ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0px auto 0px auto;
}

.home_header__btn button:hover {
  transform: translate3d(0, 2.4px, 0);
}

.home_header__btn button:active {
  background-color: lightgray;
  transform: scale(0.94);
}

/* list css */

.home_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 20px auto;
  width: 40%;
}

.home_list__title {
  width: 80%;
}

.home_list__title button {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  color: rgba(0, 0, 0, 0.7);
  height: 55px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-bottom-right-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home_list__btn {
  width: 20%;
}

.home_list__btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  color: rgba(0, 0, 0, 0.7);
  height: 55px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  margin-left: 4px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.home_list button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.8);
}
