.open_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open_header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-top: 60px;
  width: 40%;
  height: 60px;
  border: 1px solid lightgray;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}

.open_header__text {
  font-size: 20px;
  word-wrap: break-word;
  margin-top: 90px;
  width: 50%;
  height: auto;
  padding: 20px;
  border: 1px solid lightgray;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 160%;
}

.open_header__btn {
  position: fixed;
  left: 350px;
}

.open_header__btn button {
  border: 2px solid lightgray;
  border-radius: 30px;
  width: 80px;
  height: 50px;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.open_header__btn button:hover {
  border: 2px solid gray;
}

.open_header__btn button:active {
  border: 1px solid gray;
  background-color: lightgray;
  transform: scale(0.9);
}
