.open_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open_header__title {
  font-size: 28px;
  margin-top: 60px;
  width: 40%;
  height: 40px;
  border: 1px solid lightgray;
  user-select: none;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}

.open_header__text {
  font-size: 20px;
  word-wrap: break-word;
  margin-top: 90px;
  width: 60%;
  height: auto;
  padding: 20px;
  border: 1px solid lightgray;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}

.open_header__btn {
  margin-top: 40px;
}
